
[submodule "radio"]
	path = radio
	url = https://github.com/Geryyy/radio.git
[submodule "TerminalParser"]
	path = TerminalParser
	url = https://gitlab.com/geryyy/TerminalParser.git
[submodule "libfifo"]
	path = libfifo
	url = https://github.com/Freshdouble/libfifo.git
[submodule "libsmp"]
	path = libsmp
	url = https://github.com/Freshdouble/libsmp.git
